@charset "utf-8";

body{
    background-color: #000000;
}

main{
    max-width: 700px;
    text-align: center;
    margin: auto;
    background-image: url(../imagens/pattern001.png);
    border-radius: 15px 15px 0px 0px;
}
h1{
    color: rgb(255, 255, 255);
}
.quadrado{
    display: inline-block;
    border: 2px solid black;
    width: 30%;
    height: 200px;

    background-color: slategrey;
    border-radius: 10px;

}

#o2{
    background-image: linear-gradient(to bottom, #f04208 40%,lime );
}
#o3{
    background-image: url(../imagens/pattern003.png);
}

article{
    text-align: justify;
    background-color: whitesmoke;
    border-radius: 0px 0px 10px 10px;
}
span{
    color: lime;
    background-color: black;
}