@charset "utf-8";


body{
    background-image: linear-gradient(60deg,lightgrey, darkolivegreen);
    color:black ;
}

table{
    background-color: whitesmoke;
    border-collapse: collapse;
}
table > caption{
    background-color: #646c64;
    font-size: 120%;
    padding: 5px;
    
}

table > tbody > tr > td{
    border: 2px solid black;
    width: 80px;
    padding: 5px;
    text-align: center;
}