@charset "UTF-8";

html{
    background-image: url(../img/back-phone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
body{
    background-color: #ffffffa3;
}
main > aside > img{
    display: none;
}


img.phone{
    display: block;
}
