@charset "utf-8";


@media  (min-width: 308px) and (max-width: 500px) {
  html {
    font-size: 18px;
    background-image: url(../img/back-tablet.jpg);
    

  }

  img.phone{
    display: none;
  }
  img.tablet{
    display: block;

  }
  
}

@media (min-width: 500px) and (max-width: 700px) {
    html{
        background-image: url(../img/back-print.jpg);
        font-size: 22px;
        
    }
    
    img.print{
        display: block;
       
    }
    img.phone{
        display: none;
    }
}

@media (min-width:700px) and (max-width:800px) {
  html{
    background-image: url(../img/back-pc.jpg);

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
  }

  img.phone{
    display: none;
  }
 img.pc{
  display: block;
 }
}

@media  (min-width:800px) {
  html{
    background-image: url(../img/back-tv.jpg);
    font-size: 20px;
    max-width: 800px;
    margin: auto;
  }

  img.phone{
    display: none;
  }

  img.tv{
    display: block;
  }
}