@charset "utf-8";

@font-face {
    font-family: titulo;
    src: url(../fontes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: mano;
    src: url(../fontes/GreatVibes-Regular.otf);
}
*{
    line-height: 2.2em;
}

body{
    background-color: #030101;
}

header{
    color: white;
    background-color: black;
    text-align: center;
}
h1{
    font-family: titulo;
    font-size: 2.5em;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
main{
    min-width: 300px;
    max-width: 660px;
    background-color: white;
    margin: auto;
    font-family: mano;
    font-size: 1.7em;
    
}
section >p{
    padding-left: 1.5em;
}

.bgi{

    color: white;
    background-image: url(../imagens/background001.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bgi2{
    color: white;
    background-image: url(../imagens/background002.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bgi>p{
    max-width: 250px;
    background-color: #c2bfbf1d;
    }
.bgi2>p{
    max-width: 250px;
    background-color: #1f191950;;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
}