@charset "utf-8";


body{
    background-image:url(imagens/fundo-madeira.jpg) ;
    background-size: cover;
    height: 100vh;
}

div.fone{
    border: 10px solid green;
    height: 1010px;
    text-align: center;
    
}


iframe.iphone{
    display: inline-block;
    border: 10px solid red;
    height: 800px ;
    width: 380px;
}